button {
  margin-right: 3rem;
  margin-top: 1rem;
}
div {
  margin: 3em;
}
.navbar {
  justify-content: space-between;
}
.navbar span {
  padding-right: 1rem;
}
mat-sidenav-container {
  height: 100%;
}
mat-sidenav,
mat-sidenav-content {
  padding: 16px;
}
mat-sidenav {
  background-color: lightcoral;
  width: 200px;
}
.center {
  margin: 10rem;
}
mat-grid-tile {
  background-color: lightskyblue;
}
table {
  width: 100%;
}
.number {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid maroon;
  box-sizing: border-box;
  height: 100px;
}
.container{
  height: 400px;
}